body {
  display: block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: auto;
}

.logo {
  padding-left: 10px;
}

.header-title {
  display: flex;
  color: MediumAquamarine;
  padding: 10px;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

a:hover, a:visited {
  color: black;
}

.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.left {
  width: 630px;
  padding: 20px;
}

.column.center {
  width: 300px;
}

.column.right {
  width: 240px;
}

.image {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.headline.phish {
  background-image: url(../images/img-story-main.png);
}
