.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: auto;
}

.logo {
  padding-left: 10px;
}

.header-title {
  display: flex;
  color: MediumAquamarine;
  padding: 10px;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

a:hover, a:visited {
  color: black;
}

.main {
  display: flex;
  border: 1px solid black;
  background-color: lightgrey;
}

.column.left {
  display: flex;
  width: 630px;
  border: 1px solid black;
}

.column.center {
  display: flex;
  width: 300px;
  border: 1px solid black;
}

.column.right {
  display: flex;
  width: 240px;
  border: 1px solid black;
}
